
.Containerpage{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  
  .sessão1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    padding: 40px;
  }
  
  .sessão1 h1 {
    color: #a31621;
    margin-bottom: 10px;
  }
  
  .sessão1 p{
    color: grey;
    font-size: 20px;
  
  }  

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      width: 400px;
    }
  }










  .sessão2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    padding: 40px;
  }
  
  .sessão2 h1 {
    color: #a31621;
    margin-bottom: 10px;
  }
  
  .sessão2 p{
    color: grey;
    font-size: 20px;
  
  } 

  .section_limit {
    display: flex;
    justify-content: center;
    padding: 70px;
  }
  
  .modelo_3 {
    width: 100%;
    max-width: 1200px;
  }
  
  .quadros {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .quadro {
    background-color: #f49901;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 300px; 
  
    &:hover {
      transform: scale(1.05);
    }
  
    h1,
    h2 {
      margin: 20px; 
      text-align: center;
      color: #fff;
    }
  
    .circulo {
        width: 150px;
        height: 150px; 
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
      
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
  }
  
  @media (max-width: 1200px) {
    .quadro {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .quadro {
      width: calc(100% - 20px);
    }
  }